<div data-page="home">
  <div class="home-top">
    <h1>Design2Teach</h1>
  </div>
    <section id="learning-pieces-section" class="home-section">
      <h2>Learning Pieces</h2>
      <%= render partial: "helpers/sidescrollable", locals: { coll: @learning_pieces, coll_type: 'learning_pieces' }  %>
    </section>
    <section class="home-section">
      <h2>Consultants</h2>
      <%= render partial: "helpers/sidescrollable", locals: { coll: @consultants, coll_type: 'consultants' }  %>
    </section>
    <section class="home-section">
      <h2>Products</h2>
      <%= render partial: "helpers/sidescrollable", locals: { coll: @products, coll_type: 'products' }  %>
    </section>
</div>