<h1>Learning Pieces</h1>
<%= render partial: "helpers/sidescroll-item", locals: { coll_type: 'learning_pieces' }, collection: @learning_pieces, as: :item %>
<%= link_to 'New Learning piece', new_learning_piece_path if current_user.is_admin  %>
