<%= item = get_proper_format_for_sidescroll_item(item, coll_type) %>
<div class="sidescrollable-item" style="background-image: url(<%=  %>)">
    <h3><%= item.title %></h3>
    <div><%= item.description_short %></div>
</div>