// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-wrapper {
  width: 1000px;
  margin: 20px auto;
}
.AdminTools {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  position: relative;
}

.new_user {
  border: 3px solid black;
  background: gray;
}

.form-inputs {
  margin: 14px;
}

.form-inputs label {
  width: 200px;
  display: inline-block;
}

.form-inputs input{
  border: 2px solid black ;
  color: black;
  margin: 14px;

}

.form-inputs input:focus {
  border: 2px solid darkgray;

}

.btn {
  color: black;
  border: 2px solid gray;
  background-color: white;
  margin: 15px;
  width: 200px;
}

.btn:hover {
  background-color: darkgray;
}

.btn:active {
  background-color: lightblue;
}

div input {
  color: black
}