// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-wrapper {
  width: 1000px;
  margin: 20px auto;
}
.AdminTools {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  position: relative;
}

.new_user {
  border: 3px solid black;
  background: gray;
}

.form-inputs {
  margin: 14px;
}

.form-inputs label {
  width: 200px;
  display: inline-block;
}

.form-inputs input{
  border: 2px solid black ;
  color: black;
  margin: 14px;

}

.form-inputs input:focus {
  border: 2px solid darkgray;

}

.btn {
  color: black;
  border: 2px solid gray;
  background-color: white;
  margin: 15px;
  width: 200px;
}

.btn:hover {
  background-color: darkgray;
}

.btn:active {
  background-color: lightblue;
}

div input {
  color: black
}


.learning-form-container {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid gray;
  position: relative;
}

.learning-form-container h1 {
  text-align: center;
  border-bottom: 1px solid white;
}

.learning-form-container {
  width: 100%;
  margin: 10px;

}

.form-inputs .text{

 }

label {
  text-align: right;

}


#learning_piece_title {
  padding: 4px;
  width: 400px;
}
#learning_piece_description_short{
  padding: 4px;
  width: 400px;
}
#learning_piece_youtube_url{
  padding: 4px;
  width: 600px;
}
#learning_piece_avatar{
  padding: 4px;
  background: gray;
  width: 600px;
}
#learning_piece_user_id{
  padding: 4px;
  width: 200px;
}


#learning_piece_description_long {
  padding: 4px;
  margin: 14px;
  width: 600px;
  height: 400px;
}

label.checkbox {
  text-align: center;
  width: 150px;
}


#learning_piece_user_id {
  margin: 14px;
}
.learning_piece_topics {
  width: 800px;
}
