/* Scaffolding */
html {
    background: #444;
}
*,
*:before,
*:after {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    color: #EEE;
    text-decoration: none;
    /*text-shadow: 0px 1px black, 1px 2px rgba(0, 0, 0, 0.4);*/

}
.t-d *,
.t-d *:before,
.t-d *:after {
    color: #111;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.3), 1px 2px rgba(255, 255, 255, 0.1);
}
input,
button,
select,
option,
textarea {
    color: #333;
    text-shadow: none;
}
div,
p {
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #535353;
}

h1 *,h2 *,h3 *,h4 *,h5 *,h6 * {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #535353;
}

/* Background Colors */
.bg-p {
    /*background: #262626;*/
    background: #c9c9c9;
}
.bg-s {
    background: #e3e3e3;
}
/* Primary Colors */
.t-p { /* Text (t) */
    color: #535353;
}
.b-p { /* Background (b) */
    background: #FFA682;
}
/* Primary Colors (Light) */
.t-p-l {
    color: #FFC1A8;
}
.b-p-l {
    background: #FFC1A8;
}
/* Secondary Colors */
.t-s {
    color: #5E8BAE;
}
.t-s.hvr:hover {
    color: #6E9FC5;
}
.b-s {
    background: #5E8BAE;
}
/* Secondary Colors (Light) */
.t-s-l {
    color: #8DB2CF;
}
.b-s-l {
    background: #8DB2CF;
}
/* Accent Colors */
.t-a {
    font-size: 140%;
    color: #f8b026;
}
.b-a {
    background: #46563A;
}
/* Accent Colors (Light) */
.t-a-l {
    color: #C3F09E;
}
.b-a-l {
    background: #C3F09E;
}

.page-wrapper[data-type='item'],
.page-wrapper[data-type='list'] {
    padding: 0px;

}



[data-page="home"] h1,
[data-page="home"] h2 {
    margin-left: 20px;

}
#nav {
    color: #bbb;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background: rgb(39, 41, 44);
    box-shadow: 0 0 5px black;
    z-index: 5;
}
#nav #sign-out {
    margin-left: 10px;
}
.user-email {
    color: #eee;
}
.nav-btn:first-of-type {
    margin-left: 20px;
}
.nav-btn {
    padding: 5px 10px;
    margin: 0 0 0 2px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}
.nav-btn:hover {
    background: rgba(100, 100, 100, 0.4);
}
.nav-btn:active {
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3) inset;
}


.logo {
    background: url('Logo.png');
    position: absolute;
    width: 280px;
    height: 139px;
    top: 10px;
    left: 30px;
    z-index: 10;
}

.logo-info {
    position: absolute;
    left: 330px;
    top: 80px;
    font-size: 24px;
    min-width: 600px;
    color: white;
}

.home-top {
    height: 320px;
    border-bottom: 2px solid #c9c9c9;
    position: relative;
    /*box-shadow: 0 0 300px rgba(0, 0, 0, 0.7) inset, 0 -2px 3px rgba(0, 0, 0, 0.7) inset, 0 0 5px black;*/
   /* background-image: url('blueClouds.png');*/
    background: -webkit-linear-gradient(#a9c6d5, #7494a6);
    background: linear-gradient(#a9c6d5, #7494a6);
    background: -moz-linear-gradient(#a9c6d5, #7494a6);
    background: -o-linear-gradient(#a9c6d5, #7494a6);
    background: -ms-linear-gradient(#a9c6d5, #7494a6);
    overflow: hidden;
}


@-webkit-keyframes animatedClouds {
    from {transform: translate3d(-50%, 0, 0) }
    to {transform: translate3d(50, 0, 0)}
}




.clouds-back {
    position: absolute;
    height: 420px;
    top: 0px;
    width: 200%;
    background-image: url('clouds1.png');
    background-repeat: repeat-x;
    background-position: 0px 0px;
    animation: animatedClouds 60s linear infinite;
    -webkit-animation: animatedClouds 200s linear infinite;

}


.clouds-front {
    position: absolute;
    height: 420px;
    width: 200%;
    background-repeat: repeat-x;
    background-image: url('clouds2.png');
    background-position: 0px 0px;
    animation: animatedClouds 20s linear infinite;
    -webkit-animation: animatedClouds 120s linear infinite;



}

.home-border {
    position: absolute;
    min-width: 600px;
    background: none;
    border: 2px solid white;
    top: 40px;
    bottom: 40px;
    right: 40px;
    left: 40px;
}

.nav-bar {
    position: absolute;
    top: 60px;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    height: 65px;
    border-radius: 0px 5px 5px 0px;

}

.nav-bar ul {
    line-height: 64px;
    font-size: 16px;
}

.nav-bar li {
    text-align: center;
    position: relative;
    display: inline-block;
    height: 65px;
    width: 70px;
    margin: 0 30px 0 30px;
    transition: 100ms linear box-shadow;
    box-shadow: 0 0 white inset;

}



.nav-bar li:before {
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    left: -20px;
    border: 2px solid #f8b026;
    position: absolute;
    transform: rotateZ(45deg);
}

.nav-bar li:hover {
    cursor: pointer;
    box-shadow: 0 -4px white inset;
}



.nav-bar li:first-child {
    margin-left: 530px;
}




.home-top h1 {
    position: absolute;
    top: 21px;
    left: 90px;
    font-size: 50px;
}
.home-top h1,
.home-top h1 span {
    /*text-shadow: 0 0 50px black, 0 0 30px black, 0 0 10px black;
    text-shadow: 0 0 50px black, 0 0 30px black, 0 0 10px black;*/
}
.home-section {
    overflow: hidden;
}
.home-section h2 {
    position: relative;
    margin: 0;
    height: 50px;
    line-height: 60px;
    margin: 0px 10px 10px 20px;


}
.home-section h2 a {


    display: inline-block;


    text-align: center;
    font-size: 28px;
}



.learning-piece-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    top: -1px;
}



#consultant-section h2{
    position: relative;
    background-color: #90bf56;
    margin: 0px 0px 0px 20px;
    border-bottom: 1px solid darkgray;


}

#consultant-section h2 a{
    width: 230px;
    height: 62px;
    border-radius: 10px 10px 0px 0px;
    border: 1px darkgray solid;
    background: #f1f1f1;
}

.consultants-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #90bf56;
    -webkit-overflow-scrolling: touch;
}



.sidescroll-green {
    background-color: #90bf56;
}

.products-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.consultants-container {
    width: 800px;
    height: 300px;
    margin: 0 auto;
}
.consultants-container > * {
    float: left;
}

.lp-head {
    border-radius: 10px 10px 0px 0px;
    position: relative;
    border: 1px darkgray solid;

    padding: 0px 10px 0px 10px;
    background: #f1f1f1;
    margin-left: 20px;

}

.learning-piece-wrapper h2 {
    border-bottom: 1px solid darkgray;
    margin: 0px;
}

.lp-index-head {
    text-align: center;
    border-radius: 0px;
    position: absolute;
    border-top: 1px darkgray solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    right: 0px;
    left: -20px;
    background: #f1f1f1;
    font-size: 28px;

}

.sidescrollable-wrapper {
    height: 265px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    position: relative;

}

.consultants-heightboost {
    height: 320px;
}

.sidescrollable-scrollwrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -20px;
    overflow-x: auto;
    background: #f1f1f1;
}
.sidescrollable-container {
    height: 100%;
    position: relative;
}

.sidescrollable-learning-piece:first-of-type,
.sidescrollable-learning-piece:first-of-type {
    margin-left:21px;
}



.sidescrollable-learning-piece {
    width: 420px;
    height: 243px;
    margin: 12px 2px 2px 2px;
    float: left;
    display: inline;
}

.sidescrollable-learning-piece .lp-background {
    display: table;
    padding: 0px;
    width: 420px;
    height: 243px;
    position: absolute;
    background-size: cover;
    /* TODO: Take out */
    /*background-image: url(http://placecreature.com//1200/800);*/
}

.sidescrollable-learning-piece .lp-title {
    text-align: center;

    font-size: 22px;
    color: #FFFFFF;
    margin: 45px 20px 0px 20px;

}



.sidescrollable-learning-piece .lp-desc-short {
    text-align: center;
    font-size: 16px;
    margin: 30px 20px 0px 20px;

    min-height: 90px;
    max-height: 90px;
    width: 240;
}

.lp-topic {

    text-align: center;


}

.topic1 {
    color: #fdcb00;
    font-size: 24px;
}

.topic2 {
    color: #18a499;
    font-size: 24px;
}

.topic3 {
    color: #ef6307;
    font-size: 24px;
}

.lp-back-img {
    -webkit-filter: brightness(50%);
}




.sidescrollable-learning-piece .lp-background .lp-content {

    background: rgba(0,0,0,0.4);
    width: 420px;
    height: 243px;
    position: absolute;
    top: 0px;
}

.sidescrollable-learning-piece .lp-background .lp-content:hover{
    background: rgba(0,0,0,0.0);
}

.sidescrollable-learning-piece .lp-background .lp-content .lp-image {
    position: absolute;
    left: 10px;
    width: 270px;
    top: 15px;
    bottom: 15px;
    background-size: cover;


}

.lp-link-img {
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    -o-filter: brightness(75%);
    -ms-filter: brightness(75%);
}
.lp-link-img:hover {
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}


.sidescrollable-learning-piece .lp-background .lp-content .lp-text {
    position: absolute;
    left: 54%;
    margin: 15px 20px 10px 10px;
}


.sidescrollable-consultant:first-of-type,
.sidescrollable-consultant:first-of-type {
    margin: 20px 40px 0px 20px;
}
.sidescrollable-consultant {
    width: 530px;
    height: 210px;
    margin: 2px;
    margin-top: 60px;
    float: left;
    display: inline;
    margin: 20px 40px 40px 20px;
}

.sidescrollable-consultant .cs-background {
    display: table;

    width: 530px;
    height: 210px;
    position: absolute;
    background-size: cover;
    margin-bottom: 30px;

}

.sidescrollable-consultant .cs-background .cs-content {
    background: RGBA(0,0,0,0.8);
    width: 455px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 0px;
    border-radius: 135px 10px 10px 135px;


}

.sidescrollable-consultant .cs-background .cs-content .cs-image {
    position: absolute;
    left: -50px;
    width: 270px;
    top: 0px;
    bottom: 15px;

}

.cs-link-img {
    border-radius: 135px;
    border: 1px white solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    z-index: 20;
}

.sidescrollable-consultant .cs-background .cs-content .cs-text {
    position: absolute;
    left: 45%;
    margin: 15px 10px 10px 10px;
    overflow: hidden;
}
.cs-title {
    margin-bottom: 10px;
}

.cs-desc-short {
    max-height: 150px;
}

.consultants-index-main {
    position: relative;
    width: 100%;

}

.consultants-content {
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    border: 1px solid darkgray;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    min-width: 1200px;
    width: 1240px;
    margin: 0px auto 0px auto;
}




.sidescrollable-product:first-of-type,
.sidescrollable-product:first-of-type {

}
.sidescrollable-product {
    width: 600px;
    height: 330px;
    margin: 2px;
    margin-top: 60px;
    float: left;
    display: inline;
}

.sidescrollable-product .pr-background {
    display: table;
    padding: 20px;
    width: 600px;
    height: 330px;
    position: absolute;
    background-size: cover;

}

.sidescrollable-product .pr-background .pr-content {
    background: RGBA(0,0,0,0.6);
    width: 530px;
    height: 210px;
    position: absolute;
    left: 35px;
    top: 50px;
}

.sidescrollable-product .pr-background .pr-content .pr-image {
    position: absolute;
    left: 10px;
    width: 270px;
    top: 15px;
    bottom: 15px;
    background-size: cover;
    background-image: url('http://drhurd.com/wp-content/uploads/2014/07/Internet.jpg');
}
.sidescrollable-product .pr-background .pr-content .pr-text {
    position: absolute;
    left: 55%;
    margin: 15px 10px 10px 10px;
}




.sidescrollable-item {
    width: 180px;
    height: 180px;
    float: left;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.sidescrollable-item .item-header {
    display: table;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.54);
    z-index: 1;
    position: relative;
}
.sidescrollable-item .item-header .item-link-header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    opacity: 0;
}
.sidescrollable-item .item-header h3 {
    display: table-cell;
    vertical-align: middle;
    line-height: 16px;
    text-align: center;
}
.sidescrollable-item .item-background {
    height: 140px;
    width: 100%;
    padding: 20px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.sidescrollable-item .item-background .description-text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transform:translate3d(0, -100%, 0);
    -moz-transform:translate3d(0, -100%, 0);
    -ms-transform:translate3d(0, -100%, 0);
    -o-transform:translate3d(0, -100%, 0);
    transform:translate3d(0, -100%, 0);
    -webkit-transition: 600ms ease all;
    -moz-transition: 600ms ease all;
    -ms-transition: 600ms ease all;
    -o-transition: 600ms ease all;
    transition: 600ms ease all;
}
.sidescrollable-item:hover .item-background .description-text {
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -o-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    -webkit-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    -moz-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    -ms-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    -o-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
}
.sidescrollable-item .item-background .item-link {
    bottom: 10px;
    right: 10px;
    position: absolute;
    padding: 5px;
    font-weight: 500;
}

.sidescrollable-item .item-background .item-link {
     bottom: 10px;
     right: 10px;
     position: absolute;
     padding: 5px;
     font-weight: 500;
 }
.scroll-btn {
    opacity: 0.0;
    z-index: 10;
    filter: alpha(opacity=40);
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    display: block;
    height: 100%;
    width: 60px;
    top: 0;
    background-size: 100% 90%;
}
.scroll-btn-right {
    right: 0px;
}
.scroll-btn-left {
    left: 0px;
}
.sidescrollable-wrapper[data-scrollable-dirs~='right']:hover .scroll-btn-right,
.sidescrollable-wrapper[data-scrollable-dirs~='left']:hover .scroll-btn-left {
    opacity: 0.8;
}


.d2l-framework-main {
    height: 340px;
    border-top: 1px solid darkgray;
    background: url('Ground.png');



    background-repeat: repeat-x;

}

.d2l-content-frame {
    margin: 50px 0px 0px 20px;
    width: 740px;
    height: 240px;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px darkgray solid;
}

.d2l-framework-logo {
    position: relative;
    left: 50px;
    height: 50px;
    width: 600px;
    top: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    background: url('FrameworkLogo.png');
}

.d2l-framework-info {
    position: relative;
    width: 710px;
    min-width: 700px;
    left: 20px;
    height: 50px;

}

.d2l-framework-info p {
    font-size: 18px;
    color: #535353;
}


.d2l-framework-info strong {
    font-size: 22px;
    color: #535353;
}


.d2l-framework-head {
    position: absolute;
    line-height: 50px;
    height: 52px;
    width: 230px;
    right: 10px;
    bottom: -10px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 0px 10px 0px 10px;

}




/* ---------------------------- Learning Pieces Pages ------------------------*/

.path-button {
    line-height: 40px;
    position: absolute;
    text-align: center;
    font-size: 24px;
    height: 40px;
    width: 200px;
    left: 360px;
    top: 74px;
    z-index: 100;
    color: white;
    /*background-color: white;*/
    /*border-radius: 10px;*/
    /*border: 1px solid darkgray;*/

}

.arrow-container {
    clip: rect(-21px, 42px, 42px, 14px);
    position: absolute;
    height: 50px;
    width:50px;
    top: 80px;
    left: 320px;
    opacity: 0.5;
}

.arrow-container2 {
    clip: rect(-21px, 42px, 42px, 14px);
    position: absolute;
    height: 50px;
    width:50px;
    top: 80px;
    left: 550px;
    opacity: 0.5;
}

.title-button {
    text-align: left;
    width: 350px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 20px 0px 20px;
    left: 590px;

}

.arrow {
    position: absolute;
    z-index: 100;
    width: 30px;
    height: 30px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
}


.section-header {
    font-size: 30px;
    font-weight: 400;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    padding-top: 15px;
}

.learning-piece-index {
    position: relative;
    border-bottom: 1px solid black;
    height: auto;
    display: block;
}

.learning-main {
    width: 100%;


}

.learning-top {
    height: 300px;
}

.learning-bottom {
    background: url('Ground.png');
    height: 287px;
}

.show-background-img {
    position: absolute;
    z-index: -10;
    width: 0px;
    height: 0px;
}

.show-background-img .img {


}

.lp-top-padding {

}

.learning-content {
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    box-sizing: content-box;
    margin: 0 auto 0 auto;
    text-align: center;



}
.learning-content-left:after {
    content:"";
    display:table;
    clear:both;
}


.lp-content-left {
    position: relative;
    text-align: left;
    padding: 0 40px 0 40px;
    margin-top: 0px;
    width: 960px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
    display:inline-block;
    border-radius: 10px 10px 10px 10px;
    background: #ffffff;


}

.lp-content-header {
    width: 960px;
    height: 240px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    border-radius: 10px 10px 0px 0px;
}

.lp-content-header-image {
    position: absolute;

    width: 960px;
    top: -50%;
    overflow: hidden;

}

.lp-content-headerspace {
    height: 300px;
    position: relative;
}

.related-pieces {
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
    padding: 10px 10px 10px 10px;
    width: 960px;
    margin-top: 10px;
    display:inline-block;
    text-align: left;
    background: white;

}

.learning-piece-title {
    position: absolute;
    padding: 10px 0px 10px 0px;
    font-size: 32px;
    font-weight: 400;
    width: 960px;
    left: 0px;
    top: 0px;
    max-width: 960px;
    margin-bottom: 10px;
    text-align: center;
    color:  #f1f1f1;
    background: #535353;
    border-radius: 10px 10px 0px 0px;
}

.learning-piece-author {
    position: absolute;
    padding: 5px 0px 5px 0px;
    font-size: 16px;
    font-weight: 400;
    width: 960px;
    left: 0px;
    top: 260px;
    max-width: 960px;
    margin-bottom: 10px;
    text-align: center;
    color: #f1f1f1;
    background: #535353;
    border-radius: 0px 0px 0px 0px;
}

.learning-piece-author a {
    color: #fdcb00;
}




.learning-piece-writer {

}

.learning-piece-desc-short {
    font-size: 22px;
    font-weight: 400;
    max-width: 860px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.youtube-container {

    margin: 10px auto 10px auto;
    display: block;
    position: relative;
}



.youtube-container .youtube-embed{


}



.lp-desc-long {
    text-align: left;
    max-width: 920px;
    height-min: 400px;
    padding-bottom: 25px;
    font-size: 15px;
    font-weight: 100;
    color: #111111;
    line-height: 22px;
}

.lp-desc-long h1 {
    color: #111111;
    margin-bottom: 25px;
    margin-top: 25px;
}

.lp-desc-long h2 {
    color: #111111;
    margin-bottom: 20px;
    margin-top: 20px;
}

.lp-desc-long small {
    color: #333333;
}

.lp-desc-long i {
    color: #111111;
}

.lp-desc-long b {
    font-weight: 900;
    color: #111111;
}

.lp-desc-long a {
    color: #5ea9cf;
}

.learning-piece-small {
    width: 270px;
    height: 180px;
    padding-top: 3px;
    margin: 10px 20px 10px 20px;
    display: inline-block;

}

.lp-small-image {
    position: relative;
    width: 100%;
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    -o-filter: brightness(75%);
    -ms-filter: brightness(75%);

}

.lp-small-image:hover {
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}

.lp-small-info {
    top: 0px;
    position: absolute;
    left: 0px;
    text-align: left;

    background: rgba(0, 0, 0, 0.7);
    width: 270px;
    height: 180px;
    /*padding: 2px 10px 2px 5px;*/
}

.lp-small-title {
    margin: 5px 5px 10px 5px;
    color: #ffffff;

}
.lp-small-desc-short {
    margin: 5px 5px 10px 5px;
}

.article-image {
    display: block;
    max-width: 880px;
    margin: 10px auto 0px auto;
}

.lp-navlinks {
    margin: 10px 20px 10px 25px;
    width: 960px;

}

/* learning form css styles can be found in admin.css */


/* --------------------------------------- PROFILE LAYOUTS ------------------------------------------- */
.profile-background-img {
    position: absolute;
    width: 1920px;
    z-index: -10;
}

.profile-top {
    height: 80px;
}

.profile-content {
    position: relative;
    padding: 15px 15px 15px 15px;
    left: 10%;
    width: 1450px;

}

.profile-content-left {
    padding: 1px 1px 1px 1px;
    width: 960px;
    display: inline-block;

}

.profile-picture-container {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    width: 960px;
    overflow: hidden;
    height: 540px;
    border-radius: 10px;
}

.profile-content-right {
    background: white;
    width: 400px;
    position: absolute;
    right: 0;
    display: inline-block;
    min-height: 540px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
}

.profile-text {
    margin: 10px 15px 10px 15px;
}

.profile-name {
    font-size: 50px;
    text-align: center;
}

.profile-title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.profile-bio {
    padding: 30px 5px 30px 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid gray;
    min-height: 300px;
    font-size: 15px;
    color: #535353;
}

.link-icons {
    border-top: 1px solid black;
    padding: 10px 0px 10px 0px;

}

.social-link-cover {
    opacity: .8;
    background-color: black;
    width: 64px;
    height: 64px;
    display: inline-block;
}

.social-link-cover:hover {
    opacity: 1;

}

.fb-link {
    width: 64px;
    height: 64px;
    background-image: url("facebook-icon.png");
    background-size: contain;
}



.twitter-link {
    width: 64px;
    height: 64px;
    background-image: url("twitterIcon.png");
    background-size: contain;
}


.linkedin-link {
    width: 64px;
    height: 64px;
    background-image: url("linkedinIcon.png");
    background-size: contain;
}

.profile-learning-pieces {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
    margin: 30px 0px 0px 0px;
    padding: 10px 10px 20px 10px;
    width: 960px;
    text-align: center;
    border-radius: 10px;
    background: white;
}

/*************************************** PROFILE EDITING CSS ***********************************/
.profile-content-right .control-label {
    margin: 10px 5px 15px 5px;
}

#profile_first_name {
    margin: 3px 0px 5px 0px;
}

#profile_title {
    width: 360px;
}
#profile_bio {
    width: 360px;
    max-width: 360px;
    height: 450px;
}

#profile_bio{
    width: 360px;
    max-width: 360px;
    height: 450px;
}

.profile-form-icon {
    display: inline;
}

.link-icons-form {
    text-align: center;
}

#profile_facebook_url {
    width: 360px;
    margin-bottom: 10px;
}

#profile_twitter_url {
    width: 360px;
    margin-bottom: 10px;
}

#profile_linkedin_url {
    width: 360px;
    margin-bottom: 10px;
}

.profile-form-uploads-container {
    width: 960px;
    height: 80px;
    margin-top: 15px;

}

.profile-form-uploads {
    position: relative;
    padding: 15px 15px 15px 15px;
}

.profile-form-background-container {
    float: left;
    width: 400px;

}

.profile-form-image-container {
    float: right;
    width: 400px;


}

#profile_profileimage {
    width: 400px;
    border: 1px solid gray;
    background: white;

}

#profile_profileback {
    width: 400px;
    border: 1px solid gray;
    background: white;
}
