/* Scaffolding */
html {
    background: #444;
}
*,
*:before,
*:after {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    color: #EEE;
    text-decoration: none;
    text-shadow: 0px 1px black, 1px 2px rgba(0, 0, 0, 0.4);
}
.t-d *,
.t-d *:before,
.t-d *:after {
    color: #111;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.3), 1px 2px rgba(255, 255, 255, 0.1);
}
input,
button,
select,
option,
textarea {
    color: #333;
    text-shadow: none;
}
div,
p {
    font-size: 13px;
}
/* Background Colors */
.bg-p {
    background: #2E2F30;
}
.bg-s {
    background: #17191A;
}
/* Primary Colors */
.t-p { /* Text (t) */
    color: #FFA682;
}
.b-p { /* Background (b) */
    background: #FFA682;
}
/* Primary Colors (Light) */
.t-p-l {
    color: #FFC1A8;
}
.b-p-l {
    background: #FFC1A8;
}
/* Secondary Colors */
.t-s {
    color: #5E8BAE;
}
.t-s.hvr:hover {
    color: #6E9FC5;
}
.b-s {
    background: #5E8BAE;
}
/* Secondary Colors (Light) */
.t-s-l {
    color: #8DB2CF;
}
.b-s-l {
    background: #8DB2CF;
}
/* Accent Colors */
.t-a {
    color: #A9E676;
}
.b-a {
    background: #46563A;
}
/* Accent Colors (Light) */
.t-a-l {
    color: #C3F09E;
}
.b-a-l {
    background: #C3F09E;
}

.page-wrapper[data-type='item'],
.page-wrapper[data-type='list'] {
    padding: 20px;
}
.page-wrapper[data-type='item'] .sidescrollable-item:first-of-type,
.page-wrapper[data-type='list'] .sidescrollable-item:first-of-type {
    margin-left: 0;
}
[data-page="home"] h1,
[data-page="home"] h2 {
    margin-left: 20px;
}
#nav {
    color: #bbb;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background: rgb(39, 41, 44);
    box-shadow: 0 0 5px black;
    z-index: 5;
}
#nav #sign-out {
    margin-left: 10px;
}
.user-email {
    color: #eee;
}
.nav-btn:first-of-type {
    margin-left: 20px;
}
.nav-btn {
    padding: 5px 10px;
    margin: 0 0 0 2px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}
.nav-btn:hover {
    background: rgba(100, 100, 100, 0.4);
}
.nav-btn:active {
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3) inset;
}
.home-top {
    height: 320px;
    position: relative;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.7) inset, 0 -2px 3px rgba(0, 0, 0, 0.7) inset;
}
.home-top .home-image {
    height: 100%;
    width: 100%;
    background-image: url(http://www.socwall.com/images/wallpapers/36432-2048x1356.jpg);
    background-position: center 820px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.home-top h1 {
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 50px;
}
.home-top h1,
.home-top h1 span {
    text-shadow: 0 0 50px black, 0 0 30px black, 0 0 10px black;
}
.home-section {
    height: 240px;
    overflow: hidden;
}
.home-section h2 {
    height: 40px;
    line-height: 40px;
}
.learning-piece-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.consultants-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

}
.products-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.sidescrollable-wrapper {
    height: 220px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    box-shadow: 0 0 4px black inset;
    position: relative;
}
.sidescrollable-container {
    height: 100%;
    position: relative;
}

.sidescrollable-item {
    width: 180px;
    height: 180px;
    float: left;
    margin: 10px 0 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.sidescrollable-item .item-header {
    display: table;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.54);
    z-index: 1;
    position: relative;
}
.sidescrollable-item .item-header .item-link-header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}
.sidescrollable-item .item-header h3 {
    display: table-cell;
    vertical-align: middle;
    line-height: 16px;
    text-align: center;
}
.sidescrollable-item .item-background {
    height: 140px;
    width: 100%;
    padding: 20px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    /* TODO: Take out */
    background-image: url(http://placecreature.com//1200/800);
}
.sidescrollable-item .item-background .description-text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transform:translate3d(0, -100%, 0);
    -moz-transform:translate3d(0, -100%, 0);
    -ms-transform:translate3d(0, -100%, 0);
    -o-transform:translate3d(0, -100%, 0);
    transform:translate3d(0, -100%, 0);
    -webkit-transition: 600ms ease all;
    -moz-transition: 600ms ease all;
    -ms-transition: 600ms ease all;
    -o-transition: 600ms ease all;
    transition: 600ms ease all;
}
.sidescrollable-item:hover .item-background .description-text {
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -o-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    -webkit-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    -moz-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    -ms-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    -o-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
}
.sidescrollable-item .item-background .item-link {
    bottom: 10px;
    right: 10px;
    position: absolute;
    padding: 5px;
    font-weight: 500;
}
.scroll-btn {
    opacity: 0.0;
    filter: alpha(opacity=40);
    z-index: 10;
    position: absolute;
    display: block;
    height: 100%;
    width: 60px;
    top: 0;
    background-size: 100% 90%;
}
.scroll-btn-right {
    background-image: url("/assets/scrollBtn.png");
    right: 0px;
}
.scroll-btn-left {
    background-image: url("/assets/scrollBtnLeft.png");
    left: 0px;
}
.sidescrollable-wrapper:hover .scroll-btn {
    opacity: 0.6;
}
