/* Scaffolding */
html {
    background: #444;
}
*,
*:before,
*:after {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    color: #EEE;
    text-decoration: none;
}
input,
button,
select,
textarea {
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
}
div,
p {
    font-size: 13px;
}
/* Background Colors */
.bg-p {
    background: #46484A;
}
.bg-s {
    background: #2B2C2F;
}
/* Primary Colors */
.t-p { /* Text (t) */
    color: #FFA682;
}
.b-p { /* Background (b) */
    background: #FFA682;
}
/* Primary Colors (Light) */
.t-p-l {
    color: #FFC1A8;
}
.b-p-l {
    background: #FFC1A8;
}
/* Secondary Colors */
.t-s {
    color: #5E8BAE;
}
.t-s.hvr:hover {
    color: #6E9FC5;
}
.b-s {
    background: #5E8BAE;
}
/* Secondary Colors (Light) */
.t-s-l {
    color: #8DB2CF;
}
.b-s-l {
    background: #8DB2CF;
}
/* Accent Colors */
.t-a {
    color: #A9E676;
}
.b-a {
    background: #A9E676;
}
/* Accent Colors (Light) */
.t-a-l {
    color: #C3F09E;
}
.b-a-l {
    background: #C3F09E;
}


[data-page="home"] h1,
[data-page="home"] h2 {
    margin-left: 20px;
}
#nav {
    color: #bbb;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background: rgb(39, 41, 44);
    box-shadow: 0 0 5px black;
    z-index: 5;
}
#nav #sign-out {
    margin-left: 10px;
}
.user-email {
    color: #eee;
}
.nav-btn:first-of-type {
    margin-left: 20px;
}
.nav-btn {
    padding: 5px 10px;
    margin: 0 0 0 2px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}
.nav-btn:hover {
    background: rgba(100, 100, 100, 0.4);
}
.nav-btn:active {
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3) inset;
}
.home-top {
    height: 320px;
    background-image: url(http://www.socwall.com/images/wallpapers/36432-2048x1356.jpg);
    background-position: center 820px;
    position: relative;
}
.home-top h1 {
    position: absolute;
    top: 100px;
    left: 200px;
}
.home-section {
    height: 220px;
    overflow: hidden;
}
.home-section h2 {
    height: 40px;
    line-height: 40px;
}

.learning-piece-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.consultants-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

}

.products-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.sidescrollable-wrapper {
    height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    background: #333;
    width: 100%;
}

.sidescrollable-container {
    height: 100%;

}


.sidescrollable-item {
    width: 180px;
    height: 160px;
    float: left;
    margin: 10px;
    border: 1px solid #999;


}

.item-avatar {
    width: 180px;
    height: 160px;
}

.item-avatar img{
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.sidescrollable-item .item-background {
    height: 100%;
    width: 100%;
    padding: 20px;
    background-size: cover;

}

.scroll-btn-right {
    opacity: 0.0;
    filter: alpha(opacity=40);
    z-index: 10;
    position: absolute;
    display: block;
    right: 0px;
    height: 180px;
    width: 60px;
    background-image: url("/assets/scrollBtn.png")

}

.scroll-btn-left {
    opacity: 0.0;
    filter: alpha(opacity=40);
    z-index: 10;
    position: absolute;
    left: 0px;
    height: 180px;
    width: 60px;
    background-image: url("/assets/scrollBtnLeft.png")

}

.scroll-btn-right:hover {
    opacity: 0.6;
}

.scroll-btn-left:hover {
    opacity: 0.6;
}