/* Scaffolding */
html {
    background: #444;
}
*,
*:before,
*:after {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    color: #EEE;
    text-decoration: none;
    /*text-shadow: 0px 1px black, 1px 2px rgba(0, 0, 0, 0.4);*/

}
.t-d *,
.t-d *:before,
.t-d *:after {
    color: #111;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.3), 1px 2px rgba(255, 255, 255, 0.1);
}
input,
button,
select,
option,
textarea {
    color: #333;
    text-shadow: none;
}
div,
p {
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 *,h2 *,h3 *,h4 *,h5 *,h6 * {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #959595;
}

/* Background Colors */
.bg-p {
    background: #262626;
}
.bg-s {
    background: #e3e3e3;
}
/* Primary Colors */
.t-p { /* Text (t) */
    color: #535353;
}
.b-p { /* Background (b) */
    background: #FFA682;
}
/* Primary Colors (Light) */
.t-p-l {
    color: #FFC1A8;
}
.b-p-l {
    background: #FFC1A8;
}
/* Secondary Colors */
.t-s {
    color: #5E8BAE;
}
.t-s.hvr:hover {
    color: #6E9FC5;
}
.b-s {
    background: #5E8BAE;
}
/* Secondary Colors (Light) */
.t-s-l {
    color: #8DB2CF;
}
.b-s-l {
    background: #8DB2CF;
}
/* Accent Colors */
.t-a {
    font-size: 140%;
    color: #f8b026;
}
.b-a {
    background: #46563A;
}
/* Accent Colors (Light) */
.t-a-l {
    color: #C3F09E;
}
.b-a-l {
    background: #C3F09E;
}

.page-wrapper[data-type='item'],
.page-wrapper[data-type='list'] {
    padding: 0px;
}

[data-page="home"] h1,
[data-page="home"] h2 {
    margin-left: 20px;
}
#nav {
    color: #bbb;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background: rgb(39, 41, 44);
    box-shadow: 0 0 5px black;
    z-index: 5;
}
#nav #sign-out {
    margin-left: 10px;
}
.user-email {
    color: #eee;
}
.nav-btn:first-of-type {
    margin-left: 20px;
}
.nav-btn {
    padding: 5px 10px;
    margin: 0 0 0 2px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}
.nav-btn:hover {
    background: rgba(100, 100, 100, 0.4);
}
.nav-btn:active {
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3) inset;
}
.home-top {
    height: 520px;
    position: relative;
    box-shadow: 0 0 300px rgba(0, 0, 0, 0.7) inset, 0 -2px 3px rgba(0, 0, 0, 0.7) inset, 0 0 5px black;
    background-image: url('blueClouds.png');
    background-position: center 820px;
}

.home-border {
    position: absolute;
    min-width: 600px;
    background: none;
    border: 2px solid white;
    top: 40px;
    bottom: 40px;
    right: 40px;
    left: 40px;
}

.nav-bar {
    position: absolute;
    top: 380px;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    height: 40px;

}

.nav-bar ul {
    line-height: 40px;
}

.nav-bar li {
    text-align: center;
    position: relative;
    display: inline-block;
    height: 40px;
    width: 70px;
    margin: 0 30px 0 30px;
    transition: 100ms linear box-shadow;
    box-shadow: 0 0 white inset;

}



.nav-bar li:before {
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    left: -20px;
    border: 2px solid #f8b026;
    position: absolute;
    transform: rotateZ(45deg);
}

.nav-bar li:hover {
    cursor: pointer;
    box-shadow: 0 -4px white inset;
}



.nav-bar li:first-child {
    margin-left: 130px;
}




.home-top h1 {
    position: absolute;
    top: 100px;
    left: 90px;
    font-size: 50px;
}
.home-top h1,
.home-top h1 span {
    text-shadow: 0 0 50px black, 0 0 30px black, 0 0 10px black;
    text-shadow: 0 0 50px black, 0 0 30px black, 0 0 10px black;
}
.home-section {
    overflow: hidden;
}
.home-section h2 {
    position: relative;
    margin: 0;
    height: 60px;
    line-height: 60px;
}
.home-section h2 a {
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 28px;
}
.learning-piece-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.consultants-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.products-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.consultants-container {
    width: 800px;
    height: 300px;
    margin: 0 auto;
}
.consultants-container > * {
    float: left;
}
.sidescrollable-wrapper {
    height: 500px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    position: relative;
}
.sidescrollable-scrollwrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -20px;
    overflow-x: auto;
}
.sidescrollable-container {
    height: 100%;
    position: relative;
}

.sidescrollable-learning-piece:first-of-type,
.sidescrollable-learning-piece:first-of-type {
    margin-left:21px;
}



.sidescrollable-learning-piece {
    width: 560px;
    height: 330px;
    margin: 21px;
    margin-top: 50px;
    float: left;
    display: inline;
}

.sidescrollable-learning-piece .lp-background {
    display: table;
    padding: 20px;
    width: 450px;
    height: 330px;
    position: absolute;
    background-size: cover;
    /* TODO: Take out */
    /*background-image: url(http://placecreature.com//1200/800);*/
}

.lp-back-img {
    -webkit-filter: brightness(50%);
}




.sidescrollable-learning-piece .lp-background .lp-content {

    background: rgba(0,0,0,0.8);
    width: 530px;
    height: 210px;
    position: absolute;
    left: 45px;
    top: 50px;
}

.sidescrollable-learning-piece .lp-background .lp-content .lp-image {
    position: absolute;
    left: 10px;
    width: 270px;
    top: 15px;
    bottom: 15px;
    background-size: cover;


}

.lp-link-img {
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    -o-filter: brightness(75%);
    -ms-filter: brightness(75%);
}
.lp-link-img:hover {
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}


.sidescrollable-learning-piece .lp-background .lp-content .lp-text {
    position: absolute;
    left: 54%;
    margin: 15px 20px 10px 10px;
}


.sidescrollable-consultant:first-of-type,
.sidescrollable-consultant:first-of-type {

}
.sidescrollable-consultant {
    width: 650px;
    height: 367px;
    margin: 2px;
    margin-top: 60px;
    float: left;
    display: inline;
}

.sidescrollable-consultant .cs-background {
    display: table;

    width: 650px;
    height: 367px;
    position: absolute;
    background-size: cover;
}

.sidescrollable-consultant .cs-background .cs-content {
    background: RGBA(0,0,0,0.8);
    width: 530px;
    height: 210px;
    position: absolute;
    left: 35px;
    top: 50px;
}

.sidescrollable-consultant .cs-background .cs-content .cs-image {
    position: absolute;
    left: 10px;
    width: 270px;
    top: 15px;
    bottom: 15px;
}
.sidescrollable-consultant .cs-background .cs-content .cs-text {
    position: absolute;
    left: 55%;
    margin: 15px 10px 10px 10px;
    overflow: hidden;
}
.cs-title {
    margin-bottom: 10px;
}

.cs-desc-short {
    max-height: 150px;
}


.sidescrollable-product:first-of-type,
.sidescrollable-product:first-of-type {

}
.sidescrollable-product {
    width: 600px;
    height: 330px;
    margin: 2px;
    margin-top: 60px;
    float: left;
    display: inline;
}

.sidescrollable-product .pr-background {
    display: table;
    padding: 20px;
    width: 600px;
    height: 330px;
    position: absolute;
    background-size: cover;

}

.sidescrollable-product .pr-background .pr-content {
    background: RGBA(0,0,0,0.6);
    width: 530px;
    height: 210px;
    position: absolute;
    left: 35px;
    top: 50px;
}

.sidescrollable-product .pr-background .pr-content .pr-image {
    position: absolute;
    left: 10px;
    width: 270px;
    top: 15px;
    bottom: 15px;
    background-size: cover;
    background-image: url('http://drhurd.com/wp-content/uploads/2014/07/Internet.jpg');
}
.sidescrollable-product .pr-background .pr-content .pr-text {
    position: absolute;
    left: 55%;
    margin: 15px 10px 10px 10px;
}




.sidescrollable-item {
    width: 180px;
    height: 180px;
    float: left;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.sidescrollable-item .item-header {
    display: table;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.54);
    z-index: 1;
    position: relative;
}
.sidescrollable-item .item-header .item-link-header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    opacity: 0;
}
.sidescrollable-item .item-header h3 {
    display: table-cell;
    vertical-align: middle;
    line-height: 16px;
    text-align: center;
}
.sidescrollable-item .item-background {
    height: 140px;
    width: 100%;
    padding: 20px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    /* TODO: Take out */
    background-image: url(http://placecreature.com//1200/800);
}
.sidescrollable-item .item-background .description-text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transform:translate3d(0, -100%, 0);
    -moz-transform:translate3d(0, -100%, 0);
    -ms-transform:translate3d(0, -100%, 0);
    -o-transform:translate3d(0, -100%, 0);
    transform:translate3d(0, -100%, 0);
    -webkit-transition: 600ms ease all;
    -moz-transition: 600ms ease all;
    -ms-transition: 600ms ease all;
    -o-transition: 600ms ease all;
    transition: 600ms ease all;
}
.sidescrollable-item:hover .item-background .description-text {
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -o-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    -webkit-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    -moz-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    -ms-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    -o-transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
    transition: 300ms cubic-bezier(.17,.66,.27,.97) all;
}
.sidescrollable-item .item-background .item-link {
    bottom: 10px;
    right: 10px;
    position: absolute;
    padding: 5px;
    font-weight: 500;
}

.sidescrollable-item .item-background .item-link {
     bottom: 10px;
     right: 10px;
     position: absolute;
     padding: 5px;
     font-weight: 500;
 }
.scroll-btn {
    opacity: 0.0;
    z-index: 10;
    filter: alpha(opacity=40);
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    display: block;
    height: 100%;
    width: 60px;
    top: 0;
    background-size: 100% 90%;
}
.scroll-btn-right {
    right: 0px;
}
.scroll-btn-left {
    left: 0px;
}
.sidescrollable-wrapper[data-scrollable-dirs~='right']:hover .scroll-btn-right,
.sidescrollable-wrapper[data-scrollable-dirs~='left']:hover .scroll-btn-left {
    opacity: 0.8;
}

/* ---------------------------- Learning Pieces Pages ------------------------*/


.section-header {
    font-size: 30px;
    font-weight: 400;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    padding-top: 15px;
}

.learning-piece-index {
    margin-top: 1px;
    border-top: 1px solid gray;
    position: relative;
    border-bottom: 1px solid black;
    height: auto;
    display: block;
}

.learning-main {
    width: 100%;


}
.show-background-img {
    position: absolute;
    z-index: -10;
    width: 0px;
    height: 0px;
}

.show-background-img .img {


}

.lp-top-padding {
    height: 200px;
}

.learning-content {
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    box-sizing: content-box;
    margin: 0 auto 0 auto;
    text-align: center;


}
.learning-content-left:after {
    content:"";
    display:table;
    clear:both;
}

.lp-content-left {

    text-align: left;
    padding: 0 20px 0 20px;
    margin-top: 10px;
    width: 960px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
    display:inline-block;


}

.related-pieces {

    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
    padding: 10px 10px 10px 10px;
    width: 960px;
    margin-top: 10px;
    display:inline-block;

}




img .lp-article-img {
    max-width: 860;

}


.learning-piece-title {
    padding: 10px 0px 5px 0px;
    font-size: 32px;
    font-weight: 400;
    max-width: 920px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.learning-piece-desc-short {
    font-size: 22px;
    font-weight: 400;
    max-width: 860px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.youtube-container {

    margin: 10px auto 10px auto;
    display: block;
    position: relative;
}



.youtube-container .youtube-embed{


}



.lp-desc-long {
    text-align: left;
    max-width: 830px;
    height-min: 400px;
    padding-bottom: 15px;
}

.learning-piece-small {
    width: 270px;
    height: 180px;
    padding-top: 3px;
    margin: 10px 20px 10px 20px;
    display: inline-block;

}

.lp-small-image {
    position: relative;
    width: 100%;
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    -o-filter: brightness(75%);
    -ms-filter: brightness(75%);

}

.lp-small-image:hover {
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}

.lp-small-info {
    top: 10px;
    position: absolute;
    left: 10px;
    text-align: left;
    max-width: 240px;
    background: rgba(0, 0, 0, 0.7);
    padding: 2px 10px 2px 5px;
}

.lp-small-title {
    padding-bottom: 5px;




}
.lp-small-desc-short {

}

.article-image {
    display: block;
    max-width: 760px;
    margin: 10px auto 10px auto;
}

.lp-navlinks {
    margin: 10px 20px 10px 25px;
    width: 960px;

}

/* learning form css styles can be found in admin.css */


/* --------------------------------------- PROFILE LAYOUTS ------------------------------------------- */
.profile-background-img {
    position: absolute;
    width: 1920px;
    z-index: -10;
}

.profile-top {
    height: 80px;
}

.profile-content {
    position: relative;
    padding: 15px 15px 15px 15px;
    left: 10%;
    width: 1450px;

}

.profile-content-left {
    padding: 1px 1px 1px 1px;
    width: 960px;
    display: inline-block;

}

.profile-picture-container {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    width: 960px;
    overflow: hidden;
    height: 540px;
}

.profile-content-right {
    width: 400px;
    position: absolute;
    right: 0;
    display: inline-block;
    min-height: 540px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
}

.profile-text {
    margin: 10px 15px 10px 15px;
}

.profile-name {
    font-size: 50px;
    text-align: center;
}

.profile-title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.profile-bio {
    padding: 30px 5px 30px 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid gray;
    min-height: 300px;
}

.link-icons {
    border-top: 1px solid black;
    padding: 10px 0px 10px 0px;

}

.social-link-cover {
    opacity: .8;
    background-color: black;
    width: 64px;
    height: 64px;
    display: inline-block;
}

.social-link-cover:hover {
    opacity: 1;

}

.fb-link {
    width: 64px;
    height: 64px;
    background-image: url("facebook-icon.png");
    background-size: contain;
}



.twitter-link {
    width: 64px;
    height: 64px;
    background-image: url("twitterIcon.png");
    background-size: contain;
}


.linkedin-link {
    width: 64px;
    height: 64px;
    background-image: url("linkedinIcon.png");
    background-size: contain;
}

.profile-learning-pieces {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), -2px -2px 2px rgba(0, 0, 0, 0.4);
    margin: 30px 0px 0px 0px;
    padding: 10px 10px 20px 10px;
    width: 960px;
    text-align: center;
    border-radius: 10px;
}

/*************************************** PROFILE EDITING CSS ***********************************/
.profile-content-right .control-label {
    margin: 10px 5px 15px 5px;
}

#profile_first_name {
    margin: 3px 0px 5px 0px;
}

#profile_title {
    width: 360px;
}
#profile_bio {
    width: 360px;
    max-width: 360px;
    height: 450px;
}

#profile_bio{
    width: 360px;
    max-width: 360px;
    height: 450px;
}

.profile-form-icon {
    display: inline;
}

.link-icons-form {
    text-align: center;
}

#profile_facebook_url {
    width: 360px;
    margin-bottom: 10px;
}

#profile_twitter_url {
    width: 360px;
    margin-bottom: 10px;
}

#profile_linkedin_url {
    width: 360px;
    margin-bottom: 10px;
}

.profile-form-uploads-container {
    width: 960px;
    height: 80px;
    margin-top: 15px;

}

.profile-form-uploads {
    position: relative;
    padding: 15px 15px 15px 15px;
}

.profile-form-background-container {
    float: left;
    width: 400px;

}

.profile-form-image-container {
    float: right;
    width: 400px;

}

#profile_profileimage {
    width: 400px;
    border: 1px solid gray;
    background: white;
}

#profile_profileback {
    width: 400px;
    border: 1px solid gray;
    background: white;
}