<h1>Listing Products</h1>
<%= render partial: "helpers/sidescroll-item", locals: { coll_type: 'products' }, collection: @products, as: :item %>
<%= link_to 'New Product', new_learning_piece_path if current_user.is_admin %>
